{% extends "base.html" %} 

{% block page_title %}
    home
{% endblock page_title %}
    
{% block content %}

    <div class="container mx-auto pb-10">
        <div class="rounded-xl bg-gray-800  h-50vh mt-32 mb-12 bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1536315238512-4c8cebdaaf93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop)"></div>
        <div class="flex flex-wrap mb-10">
            {% for room in object_list%}

                {% include 'mixins/room_card.html' with room=room %}

            {% endfor %}
        </div>

        <div class="flex items-center justify-center mx-auto container">
            <!-- <h3>page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</h3> -->

            {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500"> <i class="fas fa-arrow-left fa-lg"></i> </a>
            {% endif %}
            
            {% for page in page_obj.paginator.page_range %}
                {% if page == page_obj.number %}
                <a href="?page={{page}}" class="mx-3 font-medium text-lg border-b-2 border-black"> {{page}} </a>
                {% else %}
                <a href="?page={{page}}" class="mx-3 font-medium text-lg"> {{page}} </a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}" class="text-teal-500"> <i class="fas fa-arrow-right fa-lg"></i> </a>
            {% endif %}
        </div>
    </div>
{% endblock%}
